@media (max-width: 2800px){
  #flextext{
    min-width: 300px;
  }
}




@media (max-width: 1350px){
    .word__disable{
        display: block;
    }
    #full__btn{
        display: none;
    }
}








@media (max-width: 1160px){
    .menu__item--disable{
        display: none;
    }
    .menu__item-spliter{
        display: none;
    }
    .phone{
        margin-left: 50%;
    }
    .burger{
       display: flex;
    }
    .mobile__menu{
        display: block;
    }
    /* .header__logo{
        margin-right: 70%;
    } */
}


@media (max-width: 800px){
    .phone{
        display: none;
    }
    .word__disable{
        /* margin-left: 50%; */
        display: none;
    }
    .header__logo{
        padding-right: 70%;
    }
    .mobile__menu__dropdown{
        top: 0;
    }

    /* .menu__burger{
       width: 30%;
    } */

    
}

